h1 {
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
}

p, cite, a {
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
}

.tapume__body{
    background-image: url(../images/tapume_desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}   

.tapume__main {
    align-items: end;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin-right: 20px;
}

.tapume__section {
    line-height: 2;
    max-width: 35vw;
}

.tapume__section--text, .tapume__footer--text {
    padding-top: 30px;
}

.tapume__footer{
    display: flex;
    flex-direction: column;
    line-height: 2;
    width: 35vw;
}

.tapume__footer--figure a {
    align-items: center;
    color: black;
    display: flex;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .tapume__body {
        background-image: url(../images/tapume_mobile.png);
    }

    .tapume__main {
        display: block;
        height: auto;
        margin: 40px 20px 0px 20px;
    }

    .tapume__section {
        max-width: 100vw;
    }

    .tapume__footer{
        width: auto;
    }

}