h1 {
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
}

p, cite, a {
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
}

.tapume__body{
    background-image: url(../images/tapume_desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}   

.tapume__main {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100vh;
    margin-right: 20px;
    flex-direction: column;
}

.tapume__section {
    line-height: 2;
    max-width: 35vw;
}

.tapume__section--text, .tapume__footer--text {
    padding-top: 30px;
}

.tapume__footer{
    display: flex;
    flex-direction: column;
    line-height: 2;
    width: 35vw;
}

.tapume__footer--figure a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: black;
}

@media screen and (max-width: 768px) {
    .tapume__body {
        background-image: url(../images/tapume_mobile.png);
    }

    .tapume__section {
        max-width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
    }

    .tapume__footer {
        width: 94vw;
        height: 100vh;
        justify-content: flex-end;
    }

}